*{
    margin: 0;
    padding: 0;
    
}

body {
    background: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  rgb(99, 15, 102);
}

h1, h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(99, 15, 102);
}

form{
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(253, 253, 253);
    max-width: 100%;
    margin: 30px 0 30px 0;
    padding: 30px;
    font-family: cursive;
}
input, textarea, form{
    border-radius: 8px;
    border: 0;
}
input{
    height: 25px;
}
input, textarea{
    background-color: rgb(233, 233, 233);
    font-family: cursive;
    color:  rgb(99, 15, 102);
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.pesquisa {
    display: flex;
    flex-direction: column;
    text-align: center; 
}


.elementosContainer {
   margin-bottom: 30px;
}

.check {
    display: flex;
    flex-direction: row;
   align-self: center;
    flex-wrap: wrap; 
    width: 150px;
    justify-content: space-around;
  }
  
  .radio {
    margin-bottom: -10px;
  }

  .botoes {
    display: flex;
    margin: 10px 90px 30px 90px;
    padding: 10px;
    justify-content: space-around;
  }

  button{
    border: 0;
    padding: 6px;
    width: 55px;
    border-radius: 5px;
    background-color: rgb(99, 15, 102);
    color: white;
  }

  #btnEnviar:hover{
    background-color: rgb(2, 116, 11);
  }
  #btnLimpar:hover{
    background-color: rgb(36, 0, 136);
  }

  footer{
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    color: white;
  }